
hr{
    border: 3px solid black;
    border-radius: 5px;
}

/* #__Your First Project And Syntax__# */
/* 
#__CSS syntax__# 
Selector{
    note: selector could be a tag, class, or id.
    Property: Value; Property is the style attribute, and value is the value of that property 
    Property: Value;  Multiple properties can be defined, each on a new line
} 
*/
/* 
# The Selector can be a tag, class, or id.
// 1) Tag Selector
    tagName{
        Property: Value;
    }
# 2) Class Selector
    .className{
        Property: Value;
    }

    3) ID Selector
    #idName{
        Property: Value;
    }
*/
/* p{
color: red;
font-size: 40px;
} */

.class_p{
    color:blue;
    font-size: 30px;
}
/*
note: it is not recommended to use ID selectors in CSS, as they are unique and can only be used once per page.
*/
#id_p{
    color: green;
    font-size: 50px;
}
/* <>__________________________________B.Separator_______________________________________<> */
/* #__Element Styling__# */
.special{
    color: blue;
    font-size: 30px;
}
/* <>__________________________________B.Separator_______________________________________<> */
/* #__Name Conventions And Rules__# */
.ex_1{
color:goldenrod;
font-size:100px;
}
/* <>__________________________________B.Separator_______________________________________<> */
/* #__Background - Color, Image, Repeat, Attachment, Position, Size__# */
.ex_2{
color: white;
font-size: 30px;
background-color: lightblue; /* color name */
background-color: rgb(255 0  0 / 50%); /* Red Green Blue Alpha_Channel*/
background-color: #000000; /* Hexadecimal */
background-image:url("..//HTML/media/download.jpg") ;
background-repeat: no-repeat; /* no-repeat, repeat-x, repeat-y, repeat (The default value) */
background-attachment: scroll; /* scroll (The default value), fixed, local  */
background-position: center left ; /* top, bottom, left, right, center, or any combination of these */
background-position: 50% 50%; /* specific position in pixels */
background-size: auto; /* contain, cover, auto (The default value), or any specific size */
background-size: 100% 100%; /* specific size in pixels or percentage */
}
/* <>__________________________________B.Separator_______________________________________<> */
/* #__Padding__# */
.ex_3{
    background-color: lightgreen;
    /* padding (Shorthand property) is the space between the content and the border in the four directions */
    /* Top Right Bottom Left */
    /* 10px 10px 10px 10px */
    padding: 10px; 
    /* Top Right Bottom Left */
    /* 10px 20px 10px 20px*/
    /* in this case bottom = top, left = right without predefine bottom and left*/
    padding: 10px 20px;
    /* Top Right Bottom Left */
    /* 10px 20px 30px 20px */
    /* in this case we have 3 values top, right and bottom the left will be equal to right */
    padding: 10px 20px 30px; 
    /* Top Right Bottom Left */
    /* 0px 0px 30px 0px */
    /* 
    in this case we want to put padding only in the bottom of the div there is two ways to do so:
    // 1. padding: 0px 0px 30px 0px; to explicitly define the padding for each side.
    // 2. padding-bottom: 30px; to use the specific property for the bottom padding.
    note: you can use the specific property for each side like padding-top, padding-right, padding-bottom, padding-left.
    */
    padding-bottom: 10px;
    padding-right: 20px;
    padding-top: 30px;
    padding-left: 40px;
}
/* <>__________________________________B.Separator_______________________________________<> */
/* #__Margin__# */
.ex_4{
    background-color: lightcoral;
    /* margin (Shorthand property) is the space outside the border in the four directions */
    /* Top Right Bottom Left */
    /* 10px 10px 10px 10px */
    padding: 10px;
    width: 70%;
    margin: auto; /*! margin could have negative value */
}
/* <>__________________________________B.Separator_______________________________________<> */
/* #__Border__# */
.ex_5{
background-color: lightpink;
padding: 10px;
width: 70%;
margin: auto;
/*
border is a shorthand property it can be used to define the border of an element in one line.
% Syntax: <line-width> || <line-style> || <color>
in border we can define multiple things:
// 1. border-width: the width of the border it can take one value or four values (top, right, bottom, left).
// 2. border-color: the color of the border it can take one value or four values (top, right, bottom, left).
// 3. border-style: the style of the border it can take one value or four values (top, right, bottom, left).
// 4. border-radius: the radius of the border to make the corners rounded.
note: you can use the specific property for each side like border-top, border-right, border-bottom, border-left.
also there are some more customization properties like:
// 1. border-top, border-right, border-bottom, border-left
// 2. border-top-width, border-right-width, border-bottom-width, border-left-width
// 3. border-top-color, border-right-color, border-bottom-color, border-left-color
// 4. border-top-style, border-right-style, border-bottom-style, border-left-style

*/
border: red solid 5px;/* shorthand property to define the border in one line */
border-width: 5px;
border-color: red  blue green yellow; /* you can use multiple colors for each side*/
border-style: solid dotted dashed double; /* solid, dotted, dashed, double, groove, ridge, inset, outset */
border-radius: 10px; /* to make the corners of the border rounded */
}
/* <>__________________________________B.Separator_______________________________________<> */
/* #__Outline__# */
.ex_6{
    background-color: lightyellow;
    width: 300px;
    padding: 10px;
    border: 10px solid black; 
    /* 
    ! outline is similar to border but it does not take up space and it is not part of the box model
    note: outline is not customizable like border.
    if we want to see the difference between border and outline for example:
    border-style: solid dotted dashed double;
    % Syntax: <line-style> {1,4}
    outline-style: solid;
    % Syntax: auto | <outline-line-style>
    */
    outline: 5px solid red; 
    outline-style: solid; /* solid, dotted, dashed, double, groove, ridge, inset, outset */
    outline-color: blue; 
    outline-offset: 3px; /* the space between the outline and the border */
}

/* <>__________________________________B.Separator_______________________________________<> */
/* #__Display - Block, Inline Block, Inline__# */
/*
    <> Block
        // - Take full width if there is no width defined.
        // - Add line break before and after the element.
        // - Respect padding, margin, width, height...(any thing else).
    <> Inline  
        // - Don't add any line break.
        // - Don't respect width and height.
        // - Respect padding and margin only in left and right.
        // - Allow Elements before and after it to be in the same line.
        note: The  other elements dose'nt conceder any padding or margin in top and bottom.
    <> Inline-Block 
        // - Respect padding, margin, width, height...(any thing else).
        // - Allow Elements before and after it to be in the same line.
    */
.ex_7_block{
    background-color: lightgray;
    padding: 10px;
    margin: 10px;
    width: 300px; 
    height: 30px;
}
/* <>__________S.Separator__________<> */
.ex_7_inline{
    background-color: lightblue;
    padding: 30px;
    margin: 10px;
}
/* <>__________S.Separator__________<> */
.ex_7_inline-Block{
    display: inline-block; 
    background-color: lightgreen;
    padding: 30px;
    margin: 10px;
    width: 150px;
    height: 30px;
}
/* <>__________________________________B.Separator_______________________________________<> */
/* #__Element Visibility And Use Cases__# */
.ex_8 {
    background-color: lightcoral;
    margin: 10px 0;
    width: 100px;
    height: 100px;
}
/* <>__________S.Separator__________<> */
.ex_8_display {
    background-color: lightcoral;
    margin: 10px 0;
    width: 100px;
    height: 100px;
    display: none;
    /* the element will not be displayed and it will not take up any space */
    ;
}
/* <>__________S.Separator__________<> */
.ex_8_visibility{
    background-color: lightcoral;
    margin: 10px 0;
    visibility: hidden; /*visible (The default value), hidden, collapse */;
    width: 100px;
    height: 100px;
}
/* <>__________________________________B.Separator_______________________________________<> */
/* #__Grouping Multiple Selectors__# */
.ex_9_one{
    border-bottom: 2px solid red;
    color: red;
}
/* <>__________S.Separator__________<> */
.ex_9_two {
    border-bottom: 2px solid green;
    color: green;
}
/* <>__________S.Separator__________<> */
.ex_9_three {
    border-bottom: 2px solid blue;
    color: blue;
}
/* <>__________S.Separator__________<> */
.ex_9_four {
    border-bottom: 2px solid black;
    color: black;
}
/* <>__________S.Separator__________<> */
.ex_9_one,
.ex_9_two,
.ex_9_three,
.ex_9_four {
    /*
    note: you can group multiple selectors to apply the same styles to them.
    note: this is useful to reduce the code and make it more readable.
    // it's good practice to group selectors that share the same styles. 
    */
    padding: 10px;
    margin: 10px 0;
    background-color: #EEE;
}
/* <>__________________________________B.Separator_______________________________________<> */
/* #__Nesting__# */
.ex_10 p{
    color: red;
    font-size: 20px;
}
.ex_10 .ex_10_p{
    color: blue;
    font-size: 30px;
}
/* <>__________________________________B.Separator_______________________________________<> */
/* #__Dimensions - Width And Height__# */
.ex_11{
    /*
    // min-width used to set the minimum width of an element.
    // max-width used to set the maximum width of an element.
    // min-height used to set the minimum height of an element.
    // max-height used to set the maximum height of an element.
    The main idea behind these properties is to control the size of an element in a flexible way.
    So that if i want to make sure that the element will not be smaller than a certain size 
    or larger than a certain size. 
    we can use these elements to make some sort of range for the element size.
    note: these properties are not required to be used together, you can use any of them or all of them. 

    */
    background-color: lightgray;
    padding: 10px;
    width: fit-content; /* the width of the element will be based on its content */
    /* 400 =< width >= 600 */
    min-width: 400px; /* the minimum width of the element */
    max-width: 600px; /* the maximum width of the element */
    /* 50 =< height >= 100 */
    min-height: 50px; /* the minimum height of the element */
    max-height: 100px; /* the maximum height of the element */
    
}
/* <>__________________________________B.Separator_______________________________________<> */
/* #__Overflow - Overflow-X And Overflow-Y__# */
.ex_12{
    /*
        // A) overflow:visible; keep things as it is 
        // B) overflow:hidden; hide the overflowed part of text
        // C) overflow:scroll; put some scroller for the text from x-axis and y-axis
        // D) overflow:auto; in this case things will work automatically if scroll needed it will put it.
        // we can also use overflow-x , overflow-y. you can control also x-axis and y-axis separately.
        // we use this to handle the content overflow in any div. 
    */
    width: 150px;
    height: 150px;
    background-color: lightblue;
    margin: 20px auto;
    border-radius: 6px;
    overflow-x: auto; /* visible (The default value), hidden, scroll, auto */
}
/* <>__________________________________B.Separator_______________________________________<> */
/* #__Text - Color And Shadow__# */
/*
    - Text Color:
        // background-color
        // color
    - Text Shadow
    % Syntax => text-shadow: H-Shadow, V-Shadow, Blur, color
*/
.ex_13{
    /* background-color: #008cff; */
    /* color: green; */
    text-shadow: 1px 1px 1px blue;
}

/* <>__________________________________B.Separator_______________________________________<> */
/* #__Text - Alignment__# */
/*
    - Text Alignment:
        // text-align: left, right, center, justify
    - Text Direction:
        // direction: ltr (The default value), rtl
    note: text-align is used to align the text inside the element, while direction is used to set the text direction.
    - Text Vertical Alignment:
        // vertical-align: baseline (The default value), sub, super, top, text-top, middle, bottom, text-bottom
*/
.ex_14 .english{
    text-align: center; /* left, right, center, justify */
    direction: ltr; /* ltr (The default value), rtl */
    font-size: 20px;
    color: red;
}
.ex_14 .arabic{
    text-align: center; /* left, right, center, justify */
    direction: rtl; /* ltr (The default value), rtl */
    font-size: 20px;
    color: green;
}
.ex_14 .with_placeholder{
    vertical-align: middle; /* baseline (The default value), sub, super, top, text-top, middle, bottom, text-bottom */ 
    font-size: 20px;
    color: blue;
}

/* <>__________________________________B.Separator_______________________________________<> */
/* #__Text - Decoration And Transform__# */
.ex_15{
    text-decoration: underline; /* none (The default value), underline, overline, line-through, blink */
    text-transform: capitalize; /* none (The default value), capitalize, uppercase, lowercase */
    font-size: 30px;
    color: red;
}
.ex_15 .link_ex{
    text-decoration: none; /* none (The default value), underline, overline, line-through, blink */
    color: white;
    font-weight: bold;
    display: inline-block; 
    padding:10px; 
    background-color: black;
    margin:10;
    border-radius: 10px;
    margin: 10px;
}

/* <>__________________________________B.Separator_______________________________________<> */
/* #__Text - Spacing__# */
.ex_16{
    background-color: #EEE;
    font-size: 20px;
    color: blue;
    width: 100px;
    letter-spacing: 2px; /* the space between the letters */
    word-spacing: 5px; /* the space between the words */
    word-break: break-word; /* normal (The default value), break-all, keep-all, break-word */
    line-height: 1.2; /* the space between the lines */
    text-indent: 10px; /* the space before the first line of the text */
    white-space: normal; /* normal (The default value), nowrap, pre, pre-line, pre-wrap */
    text-align: justify; /* left, right, center, justify */
}

/* <>__________________________________B.Separator_______________________________________<> */
/* #__Text - Overflow And Use Cases__# */
.ex_17{
    background-color: hsl(0, 0%, 31%);
    width: 200px;
    padding: 10px;
    white-space: nowrap; 
    overflow: hidden; /* visible (The default value), hidden, scroll, auto */
    text-overflow: ellipsis; /* clip (The default value), ellipsis, string */
}
/* just for testing */
.ex_17:hover{
    overflow: visible; /* visible (The default value), hidden, scroll, auto */
    text-overflow: clip; /* clip (The default value), ellipsis, string */
    white-space: normal; /* normal (The default value), nowrap, pre, pre-line, pre-wrap */
}
/* <>__________________________________B.Separator_______________________________________<> */
/* #__Inheritance__# */
.ex_18{
    font-family: Arial, sans-serif; 
    color: black;
    font-size: 16px; 
}
.ex_19{
    background-color: #EEE;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    border: 2px solid #008cff;
    border-radius: 5px;
}
.ex_19 p{
    border: inherit; 
    border-radius: inherit;
    border-color: inherit;
}
/* <>__________________________________B.Separator_______________________________________<> */
/* #__Typography - Font Family__# */
/* link: https: //fonts.google.com/?icon.size=38&icon.color=%23FFFF55 */
.ex_20{
    text-align: center;
    background-color: #eee;
    padding:12px;
    font-family: "Edu NSW ACT Cursive", cursive;
}
/* <>__________________________________B.Separator_______________________________________<> */
/* #__Typography - Font Size And CSS Units__# */
/*
CSS Units:
    - px 
    - em : Time 
    - rem : Root Time
    - percentage
    - vw: Viewport Width
Read:
    - vmin
    - vh
! 1em != 16 px
! 1 em means that if the parent element has a font size of 16px, then 1em = 16px.
! 1 rem means that if the root element (html) has a font size of 16px, then 1rem = 16px.
! 1 rem is always relative to the root element (html) font size.
! 1 em is relative to the font size of the element itself.  
note: Default Font Size in most browsers is 16px 
em is relative to the font size of the element itself.
*/

/* html{
    font-size: 16px; 
} */
.ex_21{
    text-align: center;
    background-color: #eee;
    padding: 12px;
    font-size: 20px; 
    font-family: "Edu NSW ACT Cursive", cursive;
}
.ex_21 p{
    font-size: 2rem; /* 2rem = 32px if the root element (html) has a font size of 16px */
    color: #333;
}
/* <>__________________________________B.Separator_______________________________________<> */
/* #__Typography - Font Style And Variant And Weight__# */
/*
Font Style:
    - normal (The default value)
    - italic
    - oblique
Font Variant:
    - normal (The default value)
    - small-caps
Font Weight:
    - normal (The default value)
    - bold
    - bolder
    - lighter
    - 100, 200, 300, 400, 500, 600, 700, 800, 900
*/
.ex_22 p{
    text-align: center;
    font-size: 40px;
    font-style: italic; /* normal (The default value), italic, oblique */
    font-variant: small-caps; /* normal (The default value), small-caps */
    font-weight: bold;/* normal (The default value), bold, bolder, lighter, 100, 200, 300, 400, 500, 600, 700, 800, 900 */
}

/* <>__________________________________B.Separator_______________________________________<> */
/* #__Mouse Cursor__# */
.ex_23{
    text-align: center;
    font-size: 30px; 
}
.ex_23 button{
    font-size: inherit;
    background: transparent;
    color: red;
    font-weight: bold;
    border: none;
    cursor:pointer;
}
/* <>__________________________________B.Separator_______________________________________<> */
/* #__Float And Clear__# */
/* 
    Float  
    Clear 
*/
.ex_24{
    background-color: red;
    padding:10px;
    overflow: hidden;
}
.ex_24 div{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #eee;
    width: 50%;
    float: left;
}
.ex_24 p{
    clear:both;
}
/* <>__________________________________B.Separator_______________________________________<> */
/* #__Mastering The CSS Calculation__# */
/*
    Content Width Is: 100%
    6 Spaces  10px * 6 => 60px From Content Width
    100% - 60px Available Space
    5 Elements The Width Is: (100% - 60px) / 5
*/
.ex_25{
    margin: 0;
}
.ex_25 div{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #eee;
    float: left;
    width: calc((100% - 60px) / 5);
    margin-left: 10px;
}
.ex_25 p {
    clear: both;
}
/* <>__________________________________B.Separator_______________________________________<> */
/* #__Opacity__# */
.ex_26 {
    text-align: center;
    padding: 10px;
    background-color: #eee;
    width: 300px;
    height: 100px;
    margin: 20px auto;
}
.ex_26 .one{
    height: 50px;
    background-color: red;
    opacity: 0.5; /* the opacity of the element */
    /* note: opacity is the transparency of the element, it can take values from 0 to 1 */
    /* 0 is fully transparent, 1 is fully opaque */
}
.ex_26 .two {
    background-color: red;
    height: 50px;
}
/* <>__________________________________B.Separator_______________________________________<> */
/* #__Position__# */
/*
    position:
        - static (The default value)
        - relative
        - absolute
        - fixed
        - sticky
*/
.ex_27{
    text-align: center;
    color: white;
    width: 200px;
    padding:10px;
    
}
.ex_27 .one{
    background-color: red;
    left: 40px;
    position: relative;
}
.ex_27 .two{
    background-color: green;
}

/* <>__________________________________B.Separator_______________________________________<> */
/* #__Z-Index__# */
.ex_28{
    text-align: center;
    color: white;
    width: 50px;
    
}
.ex_28 .one,
.ex_28 .two,
.ex_28 .three{
position: relative;
}
.ex_28 .one {
    background-color: red;
    left:15px;
    bottom:15px;
    z-index: 3; /* the higher the value, the higher the element will be on the z-axis */
}
.ex_28 .two {
    background-color: green;
    left: 20px;
    bottom: 30px;
    z-index: 2; 
}
.ex_28 .three {
    background-color: blue;
    left: 25px;
    bottom: 46px;
    z-index: 1;
}
/* <>__________________________________B.Separator_______________________________________<> */
/* #__Lists Styling__# */
.ex_29 ul{
    list-style-type: lower-greek; /* none (The default value), disc, circle, square, decimal, decimal-leading-zero, lower-alpha, upper-alpha, lower-roman, upper-roman */
    list-style-position: outside; /* inside (The default value), outside */
    /* list-style short hand syntax: list-style: type position image; */
    /* list-style: ; */
    /* list-style-image: url(); */
}
.ex_29 ul li{
    margin-bottom: 20px;
    background-color: #ccc;
}
/* <>__________________________________B.Separator_______________________________________<> */
/* #__Lists Styling__# */
.ex_30 table{
    font-family: Arial, Helvetica, sans-serif;
    width:100%;
    border: 1px solid black; /* the border of the table */
    border-spacing: 0px; /* the space between the cells */
    border-radius: 2px;
}
.ex_30 table td{
    border: 1px solid black;
    padding: 15px;
    background-color:#eee;
}
.ex_30 table thead td{
    background-color: #f44336;
    color: #FFF;
    font-weight: bold;
    text-align: center;
    border-color: black;
}
/* <>__________________________________B.Separator_______________________________________<> */
/* #__Pseudo Classes__# */
.ex_31 .one {
    background-color: red;
    color: white;
}

.ex_31 .two {
    background-color: #EEE;
    width: 100px;
    height: 100px;
}
.ex_31 a{
    color: blue;
    text-decoration: none;
}

.ex_31 p{
    background-color: #EEE;
    width: 100px;
    height: 100px;
}

.ex_31 a:hover{
    color: red;
    text-decoration: underline;
}
.ex_31 a:visited {
    color: green;
    text-decoration: underline;
}
.ch:checked + label{
    color: green;
    font-weight: bold;
}
.ex_31 div:empty, .ex_31 p:empty {
    border: 5px solid red;
    border-radius: 5px;
}

.ex_31 .in{
    border: 2px solid black;
}
.ex_31 .in:focus{
    border: 2px solid blue;
    border-radius: 5px;
    outline: none; /* remove the default outline */
}
/* <>__________________________________B.Separator_______________________________________<> */
/* #__Pseudo Elements - First Letter, First Line, Selection__# */
/* 
note: the Pseudo classes are callable using (:) and Pseudo elements are callable using (::)
! there is no difference between using : and :: in CSS, but it is recommended to use :: for Pseudo elements. 
*/
.ex_32 .one span {
    display: inline-block;
    background-color: red;
    color: white;
    font-size: 60px;
    font-weight: bold;
}

.ex_32 .two::first-letter {
    display: inline-block;
    background-color: red;
    color: white;
    font-size: 60px;
    font-weight: bold;
}
.ex_32 .three::first-line {
    font-weight: bold;
    color: green;
}
.ex_32 .four::selection {
    background-color: black;
    color: yellow;
}

/* <>__________________________________B.Separator_______________________________________<> */
/* #__Pseudo Elements - Before, After, Content__# */
.ex_33 .parent{
    margin-bottom: 20px;
    overflow: hidden;
}
.ex_33 .parent .one{
    background-color: #eee;
    padding: 10px;
    width: 600px;
    float:left;
    position: relative;
}

.ex_33 .parent .one::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    right: -10px;
    top: 0;
    background-color: #009688;
}
.ex_33 .parent .one::before{
    content: "";
    position: absolute;
    top: 50%;
    left: -20px;
    width: 0;
    height: 0;
    background-color: white;
    margin-top: -10px;
    border-style: solid;
    border-width: 10px;
    border-color: transparent #009688 transparent transparent;
}

.ex_33 .parent .user{
    background-color: #eee;
    width: 50px;
    margin-right: 20px;
    padding:10px;
    height: 55.5px;
    float: left;
    font-size: 50px;
    text-align: center;
    
}
/* <>__________________________________B.Separator_______________________________________<> */
/* #__Pseudo Elements – Content And Training's__# */

.ex_34 .parent {
    margin-bottom: 20px;
    overflow: hidden;
    counter-increment: member-counter;
}

.ex_34 .parent .one {
    background-color: #eee;
    padding: 10px;
    width: 600px;
    float: left;
    position: relative;
}
.ex_34 .parent .one::before {
    content: attr(data-text);
    display:none;
}
.ex_34 .parent .one:hover::before {
    display: block;
    background-color: red;
}

.ex_34 .parent .one::after {
    content: counter(member-counter);
    position: absolute;
    background-color: red;
    color: white;
    width: 20px;
    height: 20px;
    text-align: center;
    font-weight: bold;
    right: -10px;
    top: 50%;
    margin-top: -10px;
}
.ex_34 .parent .user {
    background-color: #eee;
    width: 50px;
    margin-right: 20px;
    padding: 10px;
    height: 55.5px;
    float: left;
    font-size: 50px;
    text-align: center;
}
.ex_34 ul {
    list-style: none;
}
.ex_34 ul li {
    position: relative;
    padding-left: 10px;
    margin-bottom: 10px;
}
.ex_34 ul li::before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    left: -20px;
    top: 50%;
    margin-top: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent #009688 transparent transparent;
}

/* <>__________________________________B.Separator_______________________________________<> */
/* #__Vendor Prefixes__# */
/*

    Vendors Prefixes

    Chrome
    Safari
    Firefox
    IE, Edge
    Opera

    [1] New CSS Feature Appeared
    [2] Browsers Tests The Feature In Version X
    [3] Browsers Add Prefix To Give Developers The Ability To Use It
    [4] The Feature Is Fully Supported In Version Y, No Need For Prefix

    -webkit- => Chrome, Safari, New Opera Version
    -moz- => Firefox
    -ms- => Ie, Edge
    -o- => Old Version of Opera
*/

.ex_35 {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
}
.ex_35 a{
    text-decoration: none;
    text-align: center;
    font-size: 50px;
    color: red;
}
.ex_35 a:hover {
    color: blue;
    text-decoration: underline;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}
/*
  [1] Most of Users Is Using Modern Browsers
  [2] Vs Code Addon To Add The Prefix
  [3] Task Runner
*/

/* <>__________________________________B.Separator_______________________________________<> */
/* #__Border Radius__# */
.ex_36 {
    width: 150px;
    height: 150px;
    background-color: red;
    margin: 20px auto;
    border-radius: 6px;
    /* 
    border-top-left-radius: 20px 20px;
    border-bottom-right-radius: 20px; 
    */
}
/* <>__________________________________B.Separator_______________________________________<> */
/* #__Border Radius__# */
/*
    H-Shadow | V-Shadow | Blur | Spread | Color | Inset
*/
.ex_37{
    padding: 20px;
    background-color: #eee;
    margin: 20px auto;
    width: 300px;
    box-shadow: 
        0 0 10px 0 #F10000,
        0 0 10px 0 #000,
        0 0 10px 0 #080,
        0 0 10px 0 #00f,
        0 0 10px 0 yellow;
}

/* <>__________________________________B.Separator_______________________________________<> */
/* #__The Box Model And Box Sizing__# */

/* * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
} */
.ex_38 .parent{
    width: 600px;
    overflow: hidden;
    margin: 20px auto;
    padding: 20px;
    background-color: #ddd;
}
.ex_38 .one{
    background-color: #eee;
    width: 300px;
    float: left;
    padding:10px;
    border: 10px solid red;
    box-sizing: border-box;
}

/* <>__________________________________B.Separator_______________________________________<> */
/* #__Transition__# */

/*
    Transition:
        - Duration
        - Property 
        - Delay
        - Timing Function
*/

.ex_39 {
    width: 150px;
    height: 150px;
    background-color: red;
    /*
    transition-duration: 1500ms;
    transition-delay: 500ms;
    transition-property:margin-left, border-radius, background-color; 
    /* to select the properties to be transitioned */
    /* transition-timing-function: ease-in-out;  
    /* linear, ease, ease-in, ease-out, ease-in-out, step-start, step-end 
    */
    box-sizing: border-box;
    /* for short hand notation */
    /* property | duration | timing function | delay */
    transition: border-radius 3s ease-in-out 1s, 
                margin-left 2s ease-in-out , 
                background-color 1s ease-in-out;
    
}
.ex_39:hover {
    border-radius: 100%;
    margin-left: 300px;
    background-color: blue;
}
/* <>__________________________________B.Separator_______________________________________<> */
/* #__!Important Declaration And Use Cases__# */
.ex_40{
    background-color: green !important;
}
/* <>__________________________________B.Separator_______________________________________<> */
/* #__The Margin Collapse__# */
/*
    The Margin Collapse
    [1] Only Vertical Margin Collapse
    [2] Bigger Margin Wins
    [3] Margin Collapsing With Elements Without Anything Between
    [4] Nesting Does Not Prevent Collapse
*/  
.ex_41 .parent {
    overflow: hidden;
    margin: auto;
    width: 400px;
    height: 200px;
    padding: 10px;
    background-color: #eee;
}

.ex_41 .parent .one,
.ex_41 .parent .two {
    float: left;
    width: 50%;
    height: 100%;
}
.ex_41 .parent .one {
    background-color: #ddd;
}
.ex_41 .parent .two {
    background-color: #aaa;
}
.ex_41 .parent .two .up{
    background-color: red;
    color: white;
    height: 80px;
    margin-bottom: 40px;
}
.ex_41 .parent .two .down {
    background-color: green;
    color: white;
    height: 80px;
    margin-top: 40px;
}
/* <>__________________________________B.Separator_______________________________________<> */
/* #__CSS Variables And Trainings__# */

/*
    CSS Variables
        - Global Variable
        - Local Variable
        !syntax: var(Variable Name, Fall Back Value)
*/

:root {
    /* note: Global Variables */
    --mainColor: blue;
    --mainPadding: 10px;
}
.ex_42 .main{
    background-color: var(--mainColor, black);
    color: white;
    padding: calc(20px + var(--mainPadding));
}
.ex_42 h2{
    color: var(--mainColor, black);
    background-color: #eee;
    padding: var(--mainPadding);
}
.ex_42 p {
    color: var(--mainColor, black);
    border: 2px solid var(--mainColor, black);
    padding: var(--mainPadding);
}
.ex_42 a:hover{
    color: var(--mainColor, black)
}
.local {
    /* note: Local Variable*/
    --mainColor: black;
    background-color: var(--mainColor);
    color: white;
}
/* <>__________________________________B.Separator_______________________________________<> */
/* #__Flex Box Parent - Direction, Wrap, Flow__# */
/* <>__________________________________B.Separator_______________________________________<> */
/* #____# */
/* <>__________________________________B.Separator_______________________________________<> */
/* #____# */
/* <>__________________________________B.Separator_______________________________________<> */
/* #____# */
/* <>__________________________________B.Separator_______________________________________<> */
/* #____# */
/* <>__________________________________B.Separator_______________________________________<> */
/* #____# */
/* <>__________________________________B.Separator_______________________________________<> */
/* #____# */


